# Dependencies
**/node_modules/
**/venv/

# Build outputs
**/dist/
**/build/

# Package files
package-lock.json

# caches
**/__pycache__/
*.py[cod]
*.so

# Environment files
**/.env
**/.env.local
**/.env.*.local
# MongoDB Playground files
backend/database/playground-3.mongodb.js

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
