fastapi==0.104.1
uvicorn==0.24.0
python-dotenv==1.0.0
requests==2.31.0
pydantic==2.5.2
aiohttp==3.9.3
openai>=1.63.0
chromadb>=0.6.0
python-multipart==0.0.7
sentence-transformers>=3.4.0
debugpy>=1.8.11
motor==3.7.0
pymongo==4.11